/**
 * Stylesheet for Taxonomy Index Page For Genesis plugin.
 *
 * @package   CW_Taxonomy_Index_Page_For_Genesis
 * @author    Jo Waltham <jo@calliaweb.co.uk>
 * @copyright 2015 Jo Waltham
 * @license   GPL-2.0+
 */

.index-group,
 .term-nav {
 	margin-bottom: 20px;
 }

 .term-nav a {
 	padding: 5px;
 }

 .entry-content .index-group ul li,
 .entry-content .index-group ul {
 	list-style-type: none;
 }

  .entry-content .index-group ul li.first {
  	margin-left: 0;
  }